@import "flexslider";

$main_font: 'Merriweather', Georgia, serif;
$main_width: 960px;
$footer_height: 96px;

@mixin transition($property, $speed) {
    -webkit-transition: $property $speed;
    -moz-transition: $property $speed;
    -o-transition: $property $speed;
    transition: $property $speed;
}

@mixin horizontal_gradient($start_color, $end_color) {
    background: -moz-linear-gradient(top,  $start_color 0%, $end_color 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start_color), color-stop(100%,$end_color)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $start_color 0%,$end_color 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $start_color 0%,$end_color 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $start_color 0%,$end_color 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $start_color 0%,$end_color 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#40000000',GradientType=0 ); /* IE6-9 */
}

body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: $main_font;
    background-image: url(../img/ricepaper2.png); /* image from http://subtlepatterns.com/ */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.1em 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

p {
    line-height: 1.5;
}

header {

    h1 {
        margin-left: 15px;
        font-size: 300%;
        float: left;
    }

    nav {
        margin-right: 40px;
        float: right;

        ul {
            margin-top: 25px;

            > li {
                display: inline-block;
                margin-left: 1em;
            }
        }
    }
}

section#map {
    $map_height: 450px;
    border-top: 1px solid black;
    clear: both;

    .places {
        $num_places: 4;
        $num_ads: 2;
        $ad_height: 60; 
        float: left;
        width: 360px;

        .place {
            $padding_top: 2px;
            $border_bottom: 0;
            height: (($map_height - $ad_height * $num_ads) / 4) - ($padding_top + $border_bottom);
            line-height: 1.4;
            font-size: 0.9em;
            padding-top: $padding_top;
            
            h4 {
                font-weight: bold;
            }

            &.left {
                img {
                    float: left;
                    margin: -1px 10px 0 0;
                }
            }

            &.right {
                text-align: right;
                background-color: rgba(0,0,0, 0.05);

                img {
                    float: right;
                    margin: -1px 0 0 10px;
                }
            }
        }
    }
    iframe {
        display: block;
        float: left;
    }
}

section#rotator {
    clear: both;
    border-top: 1px solid black;

    li {
        position: relative;

        .commentary {
            position: absolute;
            top: 0;
            right: 100px;
            width: 200px;
            color: white;
            background-color: rgba(0,0,0, 0.5);
            padding: 1em;
            text-shadow: 1px 1px black;

            p {
                margin: 1.2em 0 0 0;
                font-size: 0.9em;
            }
        }

        img {
            width: 100%;
            max-width: $main_width;
        }
    }
}

a#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $footer_height;
    background-color: black;
    text-shadow: 0 0 2px white;
    box-shadow: 0 0 5px rgba(0,0,0, 0.5);

    &:hover {
        text-decoration: none;
    }

    &:hover > img {
        opacity: 1;
    }

    img {
        position: absolute;
        top: 0; left: 0;
        z-index: -1;
        opacity: 0.9;
        @include transition(opacity, 0.2s);
    }

    #content {
        max-width: $main_width;
        margin: 1em auto;
        padding-left: 30px;
    }
}

#wrap {
    max-width: $main_width;
    margin: 0 auto;
    padding-bottom: $footer_height;
    background-color: rgba(255,255,255, 0.5);
    box-shadow: 0 5px 20px rgba(0,0,0, 0.5);
}

.address, .phone {
    display: block;
}

.address {
    color: gray;
}

.ad-half-banner {
    width: 100%; // width: 234px; // actual width
    height: 60px;
    background: white url(https://storage.googleapis.com/support-kms-prod/SNP_2922291_en_v0) no-repeat left;
}
