Django==1.6
Pillow==2.3.0
South==0.8.4
argparse==1.2.1
beautifulsoup4==4.3.2
boto==2.27.0
dj-database-url==0.2.2
django-grappelli==2.5.2
django-storages==1.1.8
heroku==0.1.4
psycopg2==2.5.1
python-dateutil==1.5
requests==2.2.1
wsgiref==0.1.2
git+https://github.com/progressive-cms/django-tinymce4.git#egg=tinymce
