body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Crimson Text', serif;
    background-image: url(../img/ricepaper2.png);
    text-shadow: 1px 1px white;
}

a {
    color: inherit;
}

p {
   line-height: 1.428;
   font-size: 1.1em;
}

header {
    color: white;
    background-color: black;
    text-align: center;
    padding: 1em 0;
    margin-bottom: 1em;
    text-shadow: none;

    h1 {
        margin: 0;
        font-weight: normal;
        font-size: 300%;
    }
}

article {
    max-width: 640px;
    margin: 0 auto;
    padding: 10px;
}

figure {
    position: relative;
    margin: 0 0 0.5em 0;

    img {
        display: block;
        width: 100%;
    }

    figcaption {
        margin-top: 0.25em;
        color: #444;
    }

    &.fullwidth {
        margin: 2em 0;
    }

    &.right, &.left {
        width: 360px;
    }

    &.right {
        float: right;
        left: 138px;
        margin-left: -110px;
    }

    &.left {
        float: left;
        right: 138px;
        margin-right: -110px;
    }
}

footer {
    clear: both;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #300;
    color: white;
    text-align: center;
    padding: 2em 0;
    text-shadow: 1px 1px 3px black;
    margin-top: 2em;

    #refer {
        text-decoration: none;

        span {
            display: block;
        }

        .pretext {
            margin-bottom: 0.25em;
        }
        
        .company {
            font-size: 2em;
        }
    }
}
