/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* User-added Styles
********************************/
.flex-direction-nav a {
  width: 200px;
  height: 100px;
  margin: -50px 0 0;
  display: block;
  background: url(../img/rotator_nav.png) no-repeat 0 0;
  position: absolute;
  top: 50%;
  cursor: pointer; }

.flex-control-paging {
  display: none; }

.flex-prev {
  left: -50px; }

.flex-next {
  right: -50px; }

body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Merriweather", Georgia, serif;
  background-image: url(../img/zwartevilt.png);
  /* image from http://subtlepatterns.com/ */
  background-color: #000; }

h1, h2, h3, h4, h5, h6 {
  margin: 0.1em 0;
  font-weight: normal; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: underline; }

p {
  line-height: 1.5; }

header h1 {
  margin: 10px;
  font-size: 300%;
  float: left; }
header nav {
  margin: 5px 30px 0 0;
  float: right; }
  header nav ul {
    margin-top: 25px; }
    header nav ul > li {
      display: inline-block;
      margin-left: 1em; }

section#map {
  border-top: 1px solid black;
  clear: both; }
  section#map .places {
    float: left;
    width: 359px;
    border-right: 1px solid rgba(0, 0, 0, 0.3); }
    section#map .places .place {
      height: 80.5px;
      line-height: 1.4;
      font-size: 0.9em;
      padding-top: 2px; }
      section#map .places .place h4 {
        font-weight: bold; }
      section#map .places .place.left img {
        float: left;
        margin: -1px 10px 0 0; }
      section#map .places .place.right {
        text-align: right;
        background-color: rgba(0, 0, 0, 0.05); }
        section#map .places .place.right img {
          float: right;
          margin: -1px 0 0 10px; }
  section#map iframe {
    display: block;
    float: left; }

section#rotator {
  clear: both;
  border-top: 1px solid black; }
  section#rotator li {
    position: relative; }
    section#rotator li .commentary {
      position: absolute;
      top: 0;
      right: 100px;
      width: 200px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 1em;
      text-shadow: 1px 1px black; }
      section#rotator li .commentary p {
        margin: 1.2em 0 0 0;
        font-size: 0.9em; }
    section#rotator li img {
      width: 100%;
      max-width: 960px; }

a#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 96px;
  background-color: black;
  text-shadow: 0 0 2px white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  a#footer:hover {
    text-decoration: none; }
  a#footer:hover > img {
    opacity: 1; }
  a#footer img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.9;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s; }
  a#footer #content {
    max-width: 960px;
    margin: 1em auto;
    padding-left: 20px; }

#wrap {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 96px;
  background-color: white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5); }

.address, .phone {
  display: block; }

.address {
  color: gray; }

.ad-half-banner {
  width: 100%;
  height: 60px;
  background: white url(https://storage.googleapis.com/support-kms-prod/SNP_2922291_en_v0) no-repeat left; }
