body {
  font-family: "Helevetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
  margin: 0;
  border: 0;
  padding: 0;
  text-shadow: 1px 1px black; }

a {
  color: inherit; }

header {
  overflow: hidden;
  width: 100%; }
  header h1 {
    margin: 0.1em 0.3em;
    font-size: 4em;
    font-weight: normal;
    display: inline-block;
    text-shadow: 1px 2px 4px black; }
  header #advert {
    display: inline-block;
    float: right; }

footer {
  position: absolute;
  display: table;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.75em 1.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  footer #refer {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none; }
    footer #refer span {
      display: block;
      text-align: right; }
    footer #refer .pretext {
      margin-bottom: 0.25em; }
    footer #refer .company {
      font-size: 2em; }

.arrow {
  position: absolute;
  top: 40%;
  background-color: black;
  padding: 15px 10px;
  opacity: 0.5;
  cursor: pointer; }
  .arrow:hover {
    opacity: 0.75; }
  .arrow.disabled {
    cursor: default; }
    .arrow.disabled:hover {
      opacity: 0.5; }
  .arrow.prev {
    left: 0; }
  .arrow.next {
    right: 0; }

.artwork {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  z-index: -1; }
  .artwork .plaque {
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 2em;
    font-family: 'Crimson Text', serif;
    max-width: 70%; }
    .artwork .plaque h1 {
      margin: 0; }
    .artwork .plaque .featured-item {
      font-style: italic;
      padding-bottom: 0.75em;
      border-bottom: 1px solid;
      margin-bottom: 0.5em; }
    .artwork .plaque .artist {
      font-size: 1.5em; }
    .artwork .plaque .location {
      font-family: "Helevetica Neue", Helvetica, Arial, sans-serif;
      font-weight: bold;
      border-top: 1px solid;
      padding-top: 1.25em;
      margin-top: 1em;
      font-size: 0.9em; }

.place {
  position: relative;
  width: 200px;
  height: 100px;
  background-position: center;
  float: left;
  margin: 0 10px 0 0;
  cursor: pointer; }
  .place.active {
    box-shadow: 0 0 0 2px white; }
  .place > .mask {
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%);
    /* W3C */ }
    .place > .mask > span {
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0.5em 0.6em;
      font-weight: bold; }
  @media (max-width: 1200px) {
    .place:nth-child(4) {
      display: none; } }
  @media (max-width: 990px) {
    .place:nth-child(3) {
      display: none; } }
  @media (max-width: 780px) {
    .place:nth-child(2) {
      display: none; } }
  @media (max-width: 570px) {
    .place:nth-child(1) {
      display: none; } }

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.75);
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0.25em 0.5em;
  font-family: "Helevetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 4px; }
  .btn:hover {
    background-color: rgba(0, 0, 0, 0.85);
    border-color: white; }
  .btn:active {
    background-color: rgba(0, 0, 0, 0.95); }
  .btn.view-item {
    margin-top: 1em; }

.popup {
  position: absolute;
  bottom: 112px;
  display: none;
  background-color: white;
  color: black;
  text-shadow: none;
  padding: 1em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  cursor: default;
  width: 300px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -50px; }
  .popup:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    bottom: -20px;
    left: 140px; }
  .popup h2 {
    margin: 0.1em 0; }
  .popup a {
    color: #0066cc;
    text-decoration: none; }
    .popup a:hover {
      color: #0044aa; }
  .place:first-child .popup {
    margin-left: 0; }
    .place:first-child .popup:after {
      left: 90px; }
  .popup .address {
    color: gray;
    margin: 0.5em 0; }
  .popup .separator {
    color: gray; }
  .popup .rating {
    color: #f90;
    font-size: 1.1em; }
    .popup .rating .stars {
      margin-right: 0.5em; }
    .popup .rating img {
      width: 20px;
      display: block;
      float: left; }
  .popup .loading {
    display: block;
    margin: 4em auto; }
  .popup .map {
    margin-top: 1em;
    display: block; }
