$helvetica: 'Helevetica Neue', Helvetica, Arial, sans-serif;
$PLACE_WIDTH: 200px;
$PLACE_HEIGHT: 100px;

@mixin vertical_gradient($start_color, $end_color) {
    background: -moz-linear-gradient(top,  $start_color 50%, $end_color 1050%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,$start_color), color-stop(1050%,$end_color)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $start_color 50%,$end_color 1050%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $start_color 50%,$end_color 1050%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $start_color 50%,$end_color 1050%); /* IE10+ */
    background: linear-gradient(to bottom,  $start_color 50%,$end_color 1050%); /* W3C */
}

body {
    font-family: $helvetica;
    color: white;
    background-color: black;
    margin: 0;
    border: 0;
    padding: 0;
    text-shadow: 1px 1px black;
}

a {
    color: inherit;
}

header {
    overflow: hidden;
    width: 100%;

    h1 {
        margin: 0.1em 0.3em;
        font-size: 4em;
        font-weight: normal;
        display: inline-block;
        text-shadow: 1px 2px 4px black;
    }

    #advert {
        display: inline-block;
        float: right;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
    padding: 1em;
    box-sizing: border-box;

    #refer {
        float: right;
        text-decoration: none;

        span {
            display: block;
            text-align: right;
        }

        .pretext {
            margin-bottom: 0.25em;
        }

        .company {
            font-size: 2em;
        }
    }
}

.arrow {
    position: absolute;
    top: 40%;
    background-color: black;
    padding: 15px 10px;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
        opacity: 0.75;
    }

    &.disabled {
        cursor: default;

        &:hover {
            opacity: 0.5;
        }
    }

    &.prev {
        left: 0;
    }

    &.next {
        right: 0;
    }
}

.artwork {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    z-index: -1;

    .plaque {
        margin-top: 150px;
        background-color: rgba(0,0,0, 0.5);
        display: inline-block;
        padding: 2em;
        font-family: 'Crimson Text', serif;
        max-width: 70%;

        h1 {
            margin: 0;
        }

        .featured-item {
            font-style: italic;
            padding-bottom: 0.75em;
            border-bottom: 1px solid;
            margin-bottom: 0.5em;
        }

        .artist {
            font-size: 1.5em;
        }

        .location {
            font-family: $helvetica;
            font-weight: bold;
            border-top: 1px solid;
            padding-top: 1.25em;
            margin-top: 1em;
            font-size: 0.9em;
        }
    }
}

.place {
    position: relative;
    width: $PLACE_WIDTH;
    height: $PLACE_HEIGHT;
    background-position: center;
    float: left;
    margin: 0 5px;
    cursor: pointer;

    &.active {
        box-shadow: 0 0 0 2px white;
    }

    & > .mask {
        width: 100%; height: 100%;
        @include vertical_gradient(rgba(0,0,0,0), rgba(0,0,0,0.7));

        & > span {
            position: absolute;
            left: 0; bottom: 0;
            margin: 5px 10px;
            font-weight: bold;
        }
    }
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid rgba(255,255,255, 0.75);
    background-color: rgba(0,0,0, 0.75);
    padding: 0.25em 0.5em;
    font-family: $helvetica;
    border-radius: 4px;

    &:hover {
        background-color: rgba(0,0,0, 0.85);
        border-color: rgba(255,255,255, 1);
    }

    &:active {
        background-color: rgba(0,0,0, 0.95);
    }

    &.view-item {
        margin-top: 1em;
    }
}

.popup {
    $TRIANGLE_SIZE: 10px;
    position: absolute;
    bottom: $PLACE_HEIGHT + $TRIANGLE_SIZE + 2;
    display: none;
    background-color: white;
    color: black;
    text-shadow: none;
    width: 300px;
    padding: 1em;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.5);
    cursor: default;
    box-sizing: border-box;
    margin-left: -$PLACE_WIDTH / 4;

    &:after {
        content: "";
        position: absolute;
        width: 0; height: 0;
        border-width: $TRIANGLE_SIZE;
        border-style: solid;
        border-color: white transparent transparent transparent;
        bottom: -20px;
        left: (($PLACE_WIDTH / 4) * 3) - $TRIANGLE_SIZE;
    }

    a {
        $LINK_COLOR: #06c;
        color: $LINK_COLOR;
        text-decoration: none;

        &:hover {
            color: $LINK_COLOR - #222;
        }
    }

    .place:first-child & {
        margin-left: 0;

        &:after {
            left: ($PLACE_WIDTH / 2) - $TRIANGLE_SIZE;
        }
    }

    .address {
        color: gray;
    }

    .rating {
        color: #f90;
        font-size: 1.1em;

        .stars {
            margin-right: 0.5em;
        }

        img {
            width: 20px;
            display: block;
            float: left;
        }
    }
}
