<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ STATIC_URL }}location/img/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}location/css/flexslider.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}location/css/main.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{ STATIC_URL }}location/js/jquery.flexslider-min.js"></script>
    <script src="{{ STATIC_URL }}location/js/main.js"></script>
</head>

<body>
{% block content %}{% endblock %}
</body>

</html>
