{% extends "location/base.html" %}

{% block title %}{{ site.domain.name }}{% endblock %}

{% block content %}

<header>
    <h1>{{ site.domain.name }}</h1>
    <!-- ad code here -->
    <img id="advert" src="http://i.imgur.com/69MjkMj.png"/>
</header>

<img class="prev arrow" src="{{ STATIC_URL }}location/img/arrow_prev.png"/>
<img class="next arrow" src="{{ STATIC_URL }}location/img/arrow_next.png"/>

<div id="artworks">
{% for artwork in gallery %}
    <div class="artwork" style="background-image: url({{ MEDIA_URL }}{{ artwork.image }})">
        <div class="plaque">
            <div class="featured-item">Featured item</div>
            <h1>{{ artwork.title }}</h1>
            <div class="date">{{ artwork.date }}</div>
            <div class="artist">{{ artwork.artist }}</div>
            <div class="location">{{ artwork.location }}</div>
        </div>
        {% if artwork.url %}
            <br/>
            <a class="view-item btn" href="{{ artwork.url }}">View Item</a>
        {% endif %}
    </div>
{% endfor %}
</div>

<footer>
    <div id="places">
        <!-- places from Google Places API go here -->
    </div>
    <a id="refer" href="http://medicinemangallery.com/">
        <span class="pretext">Brought to you by</span>
        <span class="company">Medicine Man Gallery</div>
    </a>
</footer>

{% endblock %}
