{% extends "location/base.html" %}

{% block title %}{{ site.domain.name }}{% endblock %}

{% block content %}

<header>
    <img id="advert" src="http://i.imgur.com/69MjkMj.png"/>
    <h1>{{ site.domain.name }}</h1>
</header>

<img class="prev arrow" src="{{ STATIC_URL }}location/img/arrow_prev.png"/>
<img class="next arrow" src="{{ STATIC_URL }}location/img/arrow_next.png"/>

<div id="artworks">
{% for artwork in gallery %}
    <div class="artwork" style="background-image: url({{ MEDIA_URL }}{{ artwork.image }})">
        <div class="plaque">
            <div class="featured-item">Featured item</div>
            <h1>{{ artwork.title }}</h1>
            <div class="date">{{ artwork.date }}</div>
            <div class="artist">{{ artwork.artist }}</div>
            <div class="location">{{ artwork.location }}</div>
        </div>
        {% if artwork.url %}
            <br/>
            <a class="view-item btn" href="{{ artwork.url }}">View Item</a>
        {% endif %}
    </div>
{% endfor %}
</div>

<footer>
    <div id="places">
    {% for place in places %}
        <div class="place" style="background-image: url({{ place.photo }})">
            <div data-reference="{{ place.reference }}" class="popup">
                <h2>{{ place.name }}</h2>
                <p class="address">{{ place.address }}</p>
                <p class="open"></p>
                {% if place.rating %}
                <p class="rating">
                    <span class="stars">
                        {% if place.rating > 0.75 %}
                        <img src="{{ STATIC_URL }}location/img/star_full.svg"/>
                        {% elif place.rating > 0.25 %}
                        <img src="{{ STATIC_URL }}location/img/star_half.svg"/>
                        {% else %}
                        <img src="{{ STATIC_URL }}location/img/star_empty.svg"/>
                        {% endif %}

                        {% if place.rating > 1.75 %}
                        <img src="{{ STATIC_URL }}location/img/star_full.svg"/>
                        {% elif place.rating > 1.25 %}
                        <img src="{{ STATIC_URL }}location/img/star_half.svg"/>
                        {% else %}
                        <img src="{{ STATIC_URL }}location/img/star_empty.svg"/>
                        {% endif %}

                        {% if place.rating > 2.75 %}
                        <img src="{{ STATIC_URL }}location/img/star_full.svg"/>
                        {% elif place.rating > 2.25 %}
                        <img src="{{ STATIC_URL }}location/img/star_half.svg"/>
                        {% else %}
                        <img src="{{ STATIC_URL }}location/img/star_empty.svg"/>
                        {% endif %}

                        {% if place.rating > 3.75 %}
                        <img src="{{ STATIC_URL }}location/img/star_full.svg"/>
                        {% elif place.rating > 3.25 %}
                        <img src="{{ STATIC_URL }}location/img/star_half.svg"/>
                        {% else %}
                        <img src="{{ STATIC_URL }}location/img/star_empty.svg"/>
                        {% endif %}

                        {% if place.rating > 4.75 %}
                        <img src="{{ STATIC_URL }}location/img/star_full.svg"/>
                        {% elif place.rating > 4.25 %}
                        <img src="{{ STATIC_URL }}location/img/star_half.svg"/>
                        {% else %}
                        <img src="{{ STATIC_URL }}location/img/star_empty.svg"/>
                        {% endif %}
                    </span>
                    <span class="rating-number">{{ place.rating }}</span>
                </p>
                {% endif %}
                <p class="contact">
                    <span class="phone"></span>  <span class="separator"></span>  <a class="website"></a>
                </p>
                <a class="map-link" title="Full map" href="" target="_blank">
                    <img class="map" src=""/>
                </a>
                <img class="loading" src="{{ STATIC_URL }}location/img/spinner.gif"/>
            </div>
            <div class="mask">
                <span>{{ place.name }}</span>
            </div>
        </div>
    {% endfor %}
    </div>
    <a id="refer" href="http://medicinemangallery.com/">
        <span class="pretext">Brought to you by</span>
        <span class="company">Medicine Man Gallery</div>
    </a>
</footer>

{% endblock %}
