{% extends "location/base.html" %}

{% block content %}

<div id="wrap">
    <header>
        <h1>Boston Art Gallery</h1>
    </header>

    <section id="map">
    </section>

    <section id="rotator">
        <ul class="slides">
            <li><img src="{{ STATIC_URL }}img/van-gogh_starry-night.jpg"/></li>
            <li><img src="{{ STATIC_URL }}img/rembrandt_nachtwacht.jpg"/></li>
            <li><img src="{{ STATIC_URL }}img/edouard-manet_landhaus-in-rueil.jpg"/></li>
            <li><img src="{{ STATIC_URL }}img/van-gogh_the-bedroom.jpg"/></li>
        </ul>
    </section>
</div>

    <a id="footer" href="http://medicinemangallery.com/">
        <img src="{{ STATIC_URL }}img/refer_UNLICENSED.jpg"/>
        <div id="content">
            <h3>Brought to you by</h3>
            <h1>Medicine Man Gallery</h4>
        </div>
    </a>

{% endblock %}
